name: Build and Test Frontend

on:
  push:
    paths:
      - 'shared/**'
      - 'webApp/**'
      - '.github/workflows/build-and-test-frontend.yml'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./webApp
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npm run lint
      - run: npm run check
      - run: npm run build
